
$PBlue: hsl(243, 100%, 93%);
$GBlue: hsl(229, 7%, 55%);
$DBlue: hsl(228, 56%, 26%);
$VBlue: hsl(229, 57%, 11%);
$font: 'Raleway', sans-serif;


*{
    border:0;
    margin: 0;
    font-family: $font;
    
}

body {
    background: url(/images/bg-mobile.svg) no-repeat center center fixed;
    background-size: cover;
    
}

@media only screen and (min-width: 990px) {
    body{
    background: url(/images/bg-desktop.svg) no-repeat center bottom fixed;
    background-size: 100%;
    background-color: $VBlue;
    }
    
}

.container{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 990px) {

    .wrapper {
      
        text-align :center;
        width: 100%;
        display: inline;
        
    }
}


.files {
    width: 210px;
    background-color: $DBlue;
    padding: 40px 80px 40px 40px;
    border-radius: 20px 100px 20px 20px;
    margin-bottom: 15px;


&__logo {
    margin-bottom: 30px;
    }

&__nav
    {  
    display: flex;
    justify-content: space-between;
        }


&__nav--icon {  
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: $VBlue;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    
    }
&__nav--icon:hover {
    background-color: $DBlue;
    }


}





.status {
    width: 250px;
    color: $PBlue;
    background-color: $DBlue;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 40px 40px 60px 40px;
    border-radius: 20px;
    font-size: 13px;
    
&__copy {
    text-align:center;
    padding-bottom: 20px;
}


&__progress {
    background: $VBlue;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 3px;
    display: flex;
    justify-content: flex-start;
    height: 20px;
    width: 100%;
}

&__progress--value {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background-image: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 14px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

&__progress--dot{
    height: 12px;
    width: 12px;
    border-radius: 100px;
    background-color: white;
    margin-right: 2px;
}

&__progress--label {
    font-weight: 600;
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

}

.float {
    color: $GBlue;
    width: 150px;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: -30px;
}


@media only screen and (min-width: 990px) {
    .files,
    .status,
    .float
     {
        display: inline-block;
        margin: 0;
        
        
    }

    .files {
        width: 240px;
        padding: 40px 80px 40px 40px;
        border-radius: 10px 120px 10px 10px;
        text-align: left;
        margin-right: 10px;
    
    &__nav {
       
        width: 75%;
    }

    &__nav--icon {
        margin: 0;
    }
    }
    
    .status {
        border-radius: 8px;
        padding: 40px;
        font-size: 14px;
        width: 460px;
       

    &__copy {
        text-align: left;
        
    }
    &__progress--label {
        margin-bottom: 10px;
    }

    }

    .float 
    {
      top: -120px;
      border-radius: 8px 8px 0 8px;
      margin-left: -190px;
      position: relative;
     }
     
     .float:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 84%;
            width: 0;
            height: 0;
            border: 1.719em solid transparent;
            border-top-color:white;
            border-bottom: 0;
            border-right: 0;
            margin-right: -0.9em;
            margin-bottom: -1.719em;
        }
     

}

    





